<!DOCTYPE html>
<html lang="en-US">

<head>

  <meta charset="utf-8">
  <title>To-Do with Vue.js</title>
  <link rel="stylesheet" type="text/css" href="to-do.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One%7COpen+Sans%7CRoboto%7CRubik:300">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="author" content="Tony Whomever" />
  <meta name="description" content="a ToDo app using Vue.js">
  <meta name="keywords" content="Vue.js, ToDo, To-Do">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link id="icon" rel="icon" type="image/png" href="assets/checkmark2.png" />

</head>


<body>

<header>

  <nav role="navigation" id="nav">

    <h1 id="NAC-theme">To-Do with Vue.js &amp; Firebase</h1>

    <div id="todayDateInstance">
      <p style="margin: 0; position: fixed; top: 10px; left: 10px;" v-html="todayDate()"></p>
    </div>
    <p id="sign-in-text">sign in</p>
    <input type="button" id="sign-in-button" class="large material-icons" value="lock_outline" />

    <!-- Vue Component: in to-do.js -->
    <div id="sessionTimeComponent">
      <session-time style="text-align: left;"></session-time> <!-- Vue component -->
    </div>

    <!--<div id="tempOttawa">
      <p></p>
    </div>-->

  </nav>


  <div id="welcomeInstance">

    <p>{{ welcomeMsg1 }}</p>

  </div>

</header>

<input type="button" id="color-picker-wrapper" class="large material-icons" value="color_lens">
<input type="color" id="pick-color" value="#80ff80">

<main>

  <div id="to-do-instance" v-bind:class="{'items-container-transitions-on': boundClasses.containerTransitionsOn, 'items-container-transitions-off': boundClasses.containerTransitionsOff, 'translateX-slider-items': boundClasses.slideContainer}">

    <!-- <span id="color-picker-wrapper"><input type="color" id="pickColor" value="#80ff80" /></span> -->

    <!-- <input type="button" id="color-picker-wrapper" class="large material-icons" value="color_lens">
    <input type="color" id="pick-color" value="#80ff80"> -->

    <div class="container">
      <p v-html="project" v-on:click="dynamicCSS = !dynamicCSS, timeStampDynamicCSS = !timeStampDynamicCSS"></p>

      <form action=""> <!--onkeypress="return event.keyCode != 13">-->
      <input type="text" id="addToList" placeholder="item to add..." pattern="[A-Za-z' ,-]+"/>
      <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="toDoItem1">add to list</button>
      <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="toDoItem2">priority</button>
      <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="toDoItem3">later</button>
      </form>

      <div id="sort-buttons">
        <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="sort-alpha" title="sort alphabetically">sort a-z</button>
        <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="sort-new-old" title="sort in reverse chronological order">sort ↑</button>
        <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="sort-old-new" title="sort  chronologically">sort ↓</button>
      </div>
    </div>

    <ul>
      <todo-item v-for="todo in toDoList" v-bind:key="todo.id" v-html="todo.text">
      </todo-item>
    <!--<li v-for="todo in toDoList" v-html="templ + todo.text"></li>-->
    </ul>

    <p id="list-length">{{ listLength }}</p>
    <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="restore" disabled>0 items to restore</button>
    <button type="button" v-bind:class="{dynamicCSS: dynamicCSS}" id="clear" disabled>clear deleted items</button>

  </div>

</main>

<svg id="logo1" viewbox="0 0 260 260"  xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <!-- Created by Tony Whomever with SVG-edit - http://svg-edit.googlecode.com/ -->
 <metadata id="metadata16">image/svg+xml</metadata>
 <g id="g8">
  <title>if clicked, clears local storage of items</title>
  <circle fill="#606ab0" stroke="#000000" stroke-width="10" stroke-linecap="miter" cx="110" cy="129.5" r="100" id="svg_1"/>
  <circle fill="#80ff80" stroke="#000000" stroke-width="10" stroke-linecap="miter" cx="110" cy="129.5" r="100" id="svg_5"/>
  <circle id="logo1-color" fill="#80ff80" stroke="#000000" stroke-width="15" stroke-linecap="miter" cx="110" cy="129.5" r="100" id="svg_6"/>
  <polyline fill="none" stroke="#000000" stroke-width="25" id="svg_9" points="70,129.5 110,169.5 235,9.5 "/>
 </g>
</svg>


<!-- <aside id="weatherOttawa"></aside> -->

<br/><br/><br/>

<!-- <a
href=
"file://///Hugo/users/AntMenard/TODO(js).txt" target="_blank" id="text-link">To Do</a> -->

<br/>


<!-- Authentication -->
<div id="auth-container">
  <input id="email-input" class="credentials" placeholder="email" value="" />
  <input id="password-input" class="credentials" placeholder="password" value="" />
  <button id="login-btn">login</button>
  <button id="guest-btn">guest</button>
  <input type="button" id="auth-container-close" class="material-icons close-btn" value="close" />
</div>


<!-- Vue Component: reminder-box.Vue.js -->
<div id="reminder-box-vue-instance">
  <reminder-box></reminder-box>
</div>

<!-- Vue Component: reminder-popup.Vue.js -->
<div id="reminder-popup-vue-instance">
    <reminder-popup></reminder-popup>
</div>

<div id="reminder-body-fader" class="display-none">
</div>



<!--*********** SCRIPTS ************-->

<!-- Firebase App (always before other services) -->
<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js" type="text/javascript"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js" type="text/javascript"></script>

<!-- Firebase: additional services -->
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js" type="text/javascript"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-database.js" type="text/javascript"></script>

<!-- Libraries (open source or custom)-->
<script src="libraries/vue.min.js" type="text/javascript">
</script>
<script src="libraries/jquery-3.1.1.min.js" type="text/javascript">
</script>
<script src="libraries/time_related_functions.js" type="text/javascript">
</script>

<!-- Firebase database initialization & config (custom) -->
<script src="src/to-do_firebase_config.js" type="text/javascript">
</script>

<!-- Vue Components (custom) -->
<script src="src/reminder-box.Vue.js" type="text/javascript">
</script>
<script src="src/reminder-popup.Vue.js" type="text/javascript">
</script>

<!-- Project files (custom) -->
<script src="src/to-do_firebase_RD.js" type="text/javascript">
</script>
<script src="src/localStorageDetection.js" type="text/javascript">
</script>
<script src="src/to-do.js" type="text/javascript">
</script>
<script src="src/remindersModule.js" type="text/javascript">
</script>
<script src="src/highlightItemsModule.js" type="text/javascript">
</script>
<script src="src/to-do_firebase_auth.js" type="text/javascript">
</script>


</body>

</html>
