body {
  background-color: rgb(35, 35, 35);
  color: #cccccc; /*rgb(175,175,175);*/
  font-family: 'Open Sans', 'Poiret One';
  margin: 0;
  padding: 0;
  z-index: 5;
}

nav {
  margin: 0 0 auto 0;
  background-color: rgba(25, 25, 25, 0.8);
  color: #FFA33E;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.19), 0 6px 20px 2px rgba(0, 0, 0, 0.20);
  border-bottom: 1px solid black;
  z-index: 100;
}

h1, p {
  text-align: center;
}

#welcomeInstance {
  margin-top: 70px;
}

#sessionTimeComponent, #todayDateInstance {
  font-size: 0.8em;
}

main {
  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  justify-content: center;
}

#toDoInstance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: rgb(25, 25, 25);
  border: 1px solid black;
  width: 380px;
  /*max-height: 70%;*/
  /*box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.19), 0 6px 20px 2px rgba(0, 0, 0, 0.20); */
  overflow-y:auto;
  zoom: 1.5;
  -moz-transform: scale(1.5);
  -moz-transform-origin: 0 0;
}

#toDoInstance p {
  margin-top: 20px;
}

input {
  background-color: #CCC;
  width: 230px;
}

button {
  margin-right: 15px;
  background-color: #FFA33E;
  border: solid 1px black;
  border-radius: 0.75em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:hover, .crossout:hover {
  cursor: pointer;
}

ul {
  list-style-position: inside;
  /*margin-left: -2em;*/
  list-style-type: none;
  width: 320px;
}

ul li {
  line-height: 1.6em;
}

ul li span {
position: relative;
left: -0.5em;
}

.crossout {
  width: auto;
  margin-left: 1em;
  color: #fff;
}


/* MEDIA QUERIES:  */

@media (orientation: landscape) {

}


@media (max-height: 768px) {
  nav {
    display: none;
  }

  #welcomeInstance {
    margin: 0;
    height: 40px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(35, 35, 35);
    z-index: 15;
    /*left: 50%;
    transform: translate(-50%, 0); */
  }

  #welcomeInstance p {
    color: #FFA33E;
    font-weight: bold;
  }

  #toDoInstance {
    display: flex;
    margin-top: 40px;
    align-items: center;
    width: 100%;
    max-height: none;
    overflow-y: auto;
    zoom: 1.0;
    -moz-transform: scale(1.0);
    -moz-transform-origin: 0 0;
  }

  #toDoInstance p {
    margin-top: 5px;
  }

  .container {
    position: fixed;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
    top: 40px;
    z-index: 10;
    background-color: rgb(25, 25, 25);
  }

  #toDoInstance ul {
    position: relative;
    top: 75px;
    margin-top: 0;
    margin-bottom: 75px;
    background-color: rgb(25, 25, 25);
    z-index: 1;
    overflow-y: scroll;
  }
}


@media (max-width: 768px) {
  #sessionTimeComponent, #todayDateInstance {
    display: none;
  }
}


@media (orientation: landscape) and (max-width: 768px) {

}


@media (orientation: landscape) and (max-height: 768px) {

}
